#banner-img {
    height: 500px;
    width: 100%;
    background-image: url('https://img.freepik.com/free-photo/elevated-view-colorful-computer-circuit-boards-black-backdrop_23-2147922230.jpg?size=626&ext=jpg&uid=R73666718&ga=GA1.2.679012492.1669006221&semt=sph');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;

}

#banner-img a {
    background-color: white;
    color: black;
    padding: 10px 35px;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid gray;
    border-radius: 30px;
    margin-top: 15px;
    text-decoration: none;
    transition: all 0.4s ease;
}

#banner-img a:hover {
    color: white;
    box-shadow: 2px 0px 5px black;
    border: none;
    background-color: black;
}